:root {
  --box-size: 32px;
}

.loader {
  height: var(--box-size);
  width: var(--box-size);

  border: 4px solid transparent;
  border-radius: var(--box-size);
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(to right, deepskyblue, skyblue) border-box;
}