:root {
  --box-size: 16px;
}

body {
  div {
    height: var(--box-size);
    width: var(--box-size);
    border-width: 50%;
    border-style: solid;
    border-color: transparent;
    border-radius: 16px;

    background: rgb(230, 229, 229);
  }
}